* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #84a5d4;
}
main {
  background: white;
  width: 80%;
  height: 55vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 12vh auto;
  border-radius: 0.5rem;
}
.box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 2rem 4rem;
}
.box:first-child {
  height: rem;
  margin: auto;
}
.box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.details {
  font-size: 1.3rem;
  color: #b89eb8;
  word-spacing: 0.1rem;
  display: flex;
  margin: 1rem 0;
}
.pricing {
  color: #5167ca;
  display: flex;
}
.pricing span {
  font-size: 2.2rem;
  font-weight: bold;
}
.pricing sup {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
.pricing sub {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  display: block;
}
.box h1 {
  color: #5167ca;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
.box img {
  height: 5rem;
}
